@charset "ISO-8859-1";

.top{
	background-color: #01a62d;
	padding: 20px;
}
.logo{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	color: white;
	margin-left: 40px;;
	
}
.main{
	min-height:600px;
	background-color: #a2c29e;
	margin: auto;
	box-shadow: 6px 0px 6px #8ab798;
	
}
.pesquisa{
	padding: 20px;
	padding-top: 40px;
}

.rodape{
	height: 300px;
	background-color: #01a62d;
	padding: 20px;
}
.copy{
	width:200px;
	color: white;
	margin: auto;
}